* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-size: 62.5%;
}

header {
  position: absolute;
	width: 100%;
}

.navbar-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 80px;
	padding: 0 20px;
	background: rgb(255, 255, 255);
	font-size: 2rem;
}
/* Bouton Burger */

.btn-burger {
	display: block;
	background-color: #fff;
	border: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.burger-bar,
.burger-bar::after,
.burger-bar::before {
	display: block;
	margin: auto;
	width: 30px;
	height: 3px;
	position: relative;
	border-radius: 3px;
	background-color: black;
}

.burger-bar::after,
.burger-bar::before {
	content: "";
	position: absolute;
	left: 0;
}

.burger-bar::before {
	transform: translateY(-10px);
}

.burger-bar::after {
	transform: translateY(10px);
}

/* barre de navigation */
.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	height: 0px;
	transition: all, ease-in-out, 0.5s;
	background-color: rgb(255, 255, 255);
}

.navbar-links {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 50%;
}

.navbar-link {
	display: flex;
	color: #000000;
	cursor: pointer;
	font-size: 1.5rem;
	transition: ease-in-out 0.2s;
}

.active {
	color: #000000;
	cursor: pointer;
	font-size: 1.5rem;
	border-bottom: solid 1px rgb(0, 0, 0);
	margin: auto;
	padding-bottom: 3px;
	transition: ease-in-out 0.2s;
}

.navbar-burger {
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.navbar-link:hover {
	font-size: 1.7rem;
	color: rgb(184, 66, 33);
	transition: all, ease-in-out 0.2s;
}

.active:hover {
	font-size: 1.7rem;
	color: rgb(184, 66, 33);
	border-bottom: solid 1px rgb(184, 66, 33);
	transition: all, ease-in-out 0.2s;
}

.show-navbar {
	height: 100vh;
	transition: all, ease-in-out, 0.5s;
	background-color: #fff;
}

@media screen and (min-width: 750px) {
	header {
    position: relative;
		height: 100px;
	}
	.navbar-links {
		position: fixed;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
		height: 300px;
		margin-top: 150px;
		padding-bottom: 50px;
	}

	.navbar-link,
	.active {
		margin-right: 30px;
	}

	.btn-burger {
		display: none;
	}

	.navbar-logo {
		justify-content: center;
		align-items: flex-start;
		padding: 0;
		padding-top: 60px;
		height: 200px;
	}
}
